{{ define "main" }}
{{ $caller := . }}
<main class="page-main pa4 {{ .Kind }}" role="main">
  <section class="blog-content mw7 center">
    {{ .Content }}
        {{ $pages := where .RegularPagesRecursive "Type" "pubs" }}
        {{ $pages := where $pages "Params.featured" "!=" true }}
        {{ $paginator := .Paginate $pages }}
    {{ partial "shared/list-pagination.html" . }}
  </section>
</main>
<aside class="page-sidebar" role="complementary">
  {{ partial "shared/sidebar-scaffold.html" . }}
</aside>
{{ end }}
